<mat-card class="flex footer">
    <div>
        <p>Todos os direitos reservados.</p>
    </div>
    <nav class="flex">
        
        <!-- <a href="#whats"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="../../assets/img/whats1.svg"></mat-icon></a> -->
        <!-- <mat-icon svgIcon="{{whats_icon}}" aria-hidden="false" aria-label="Whatsapp"></mat-icon> -->
        <!-- <mat-icon svgIcon="../../assets/img/whats 1.svg" aria-hidden="false" aria-label="Whatsapp"></mat-icon> -->
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="../../assets/img/whats 1.svg"></mat-icon> -->      
        <!-- <img src="../../assets/img/whats1.svg" alt="Logo Bolos Julia"> -->
        
        <a id="whats"href="#whats" aria-label="Link para o whatsapp"><img src="../../assets/img/whats1.svg" alt="Logo Bolos Julia"></a>
        <a id="whats"href="#insta" aria-label="Link para o whatsapp"><img src="../../assets/img/instag1.svg" alt="Logo Bolos Julia"></a>
        <a id="whats"href="#face" aria-label="Link para o whatsapp"><img src="../../assets/img/face1.svg" alt="Logo Bolos Julia"></a>

    </nav>
</mat-card>