<mat-card class="flex">
    <div class="flex-col">
        <!-- <object type="image/svg+xml" data="../../assets/img/logo1.svg"></object> -->
        <img src="../../assets/img/logo1.svg" alt="Logo Bolos Julia">
        <h1 id="titulo">{{nomeFilho}}</h1>
    </div>
    <nav class="flex">
        <p class="navi"><a  routerLink="../home" href="#home">Home</a></p>
        <p><a routerLink="../sobre" href="#sobre">Sobre</a></p>
        <p><a routerLink="../bolos" href="#bolos">Bolos</a></p>
    </nav>
</mat-card>