<app-header [nomeFilho]="tituloHeader" ></app-header>


<main class="flex-col margin0">
    <mat-card class="margin0 screcth">
        <img class="imgPrincipal"src="../../assets/img/Home/slide5 1.svg" alt="Bolos Diversos">
    </mat-card>
    <mat-card class="flex-col align-center">
        <h2>Mais vendidos</h2>
        <div class="flex content-spaceBetween wrap bols">
            <mat-card class="mat1">
                <img class="imgBolo" mat-card-image src="../../assets/img/Home/cenoura 1.svg" alt="Bolo de Cenoura">
                <mat-card-content>
                    <p>Bolo de Cenoura</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat1">
                <img class="imgBolo" mat-card-image src="../../assets/img/Home/fuba 1.svg" alt="Bolo de Fubá">
                <mat-card-content>
                    <p>Bolo de Fubá</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat1">
                <img class="imgBolo" mat-card-image src="../../assets/img/Home/larnja 1.svg" alt="Bolo de Laranja">
                <mat-card-content>
                    <p>Bolo de Laranja</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
    <mat-card class=" flex-col align-center">
        <h2>Aproveite</h2>
        <div class="flex wrap">
            <mat-card>
                <h3>Clube de assinatura</h3>
                <p>Se torne cliente fidelizado e receba diversas vantagens</p>
                <button aria-label="Saiba mais do clube de assinatura">Saiba mais</button>
            </mat-card>
            <mat-card>
                <h3>Monte seu bolo</h3>
                <p>Escolha os ingredientes e receba um bolo feito para você!</p>
                <button aria-label="Saiba mais de como montar seu bolo">Saiba mais</button>
            </mat-card>
        </div>
        
    </mat-card>
</main>

<app-footer></app-footer>